<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text" name="" id="name" class="form-control"
          #nameInput>
          <!--#nameInput adalah sebuah local reference -->
        </div>
        <div class="col-sm-2">
          <label for="amount">Amount</label>
          <input type="text" name="" id="amount" class="form-control"
          #amountInput>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-succes" (click)="onAddItem()">Add</button> &nbsp;
          <button type="button" class="btn btn-danger">Delete</button> &nbsp;
          <button type="button" class="btn btn-primary">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>